<!DOCTYPE html>
<html>
<head>
  <title>Credit Card Fraud Detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header class="top-bar">
    <div class="logo-left">
      <img src="https://cdn-icons-png.flaticon.com/512/566/566759.png" alt="Shield Icon" class="logo-icon" />
      <span class="site-title">SecureSwipe</span>
    </div>
  </header>
  
  
  <div class="container">
    <h1>Credit Card Fraud Detection</h1>
    <a href="/form" class="btn">Go to Check Form</a>
  </div>
  
  
</body>
</html>
